body {
    font-family: Arial;
    margin: 5px;
}

nav {
    background-color: #eee;
    padding: 3px;
}

nav a {
    margin-right: 5px;
}

form {
    margin: 5px;
}
input {
    padding: 3px;
}
button {
    padding: 3px;
}

footer {
    background-color: #eee;
    padding: 3px;
    margin-top: 10px;
}